<div class="row-is-full content has-text-centered text-decoration-none">
    <p class="text-decoration-none">
      <strong><i class="fas fa-stopwatch"></i>  Watch and Sell </strong> by 
      <a class="text-decoration-none" href="https://github.com/jokase97">John Seely</a> |
      <a class="text-decoration-none" href="https://github.com/elsasuprano">Elsa Soprano</a> |
      <a class="text-decoration-none" href="https://github.com/robertrouthier">Robert Routhier</a> | 
      <a class="text-decoration-none" href="https://github.com/phwang93">Philip Hwang</a> | 
      <strong>source code:</strong>
      <a class="text-decoration-none" href="https://github.com/phwang93/Project-2-Watch-and-Sell"><i class="fab fa-github"></i></a> 
    </p>
  </div>