<div class="row m-3">
                    <div class="col-sm">
                        <img id="watch-pic" class="rounded" src="/imgs/{{name}}.png" alt="Featured 2">
                    </div>
                    