<div class="row justify-content-center">
<div class="col-md-9">
<!-- displaying articles -->
{{> available-cards watch}}
</div>  </div>
<!-- displaying form and comments-->
<!-- only display if logged in -->
{{#if loggedIn}}
<div class="">
  <div class="row justify-content-center">
    <div class="card col-md-6">
      <form class="comment-form">
        <div class="m-3">
          <textarea class="comment-body" name="comment-body" placeholder="Add comment here"></textarea>
        </div>

        <div class="row justify-content-center">
          <button type="submit" class="btn-primary rounded m-3" id="comment-btn">Add Comment</button>
          <button type="button" class="uplike-btn btn-primary rounded m-3" id="uplike-btn">Like</button>
          {{#if isowner}}
          <button type="delete" class="btn-danger rounded m-3" id="delete-watch-btn">Delete Watch</button>
          {{/if}}
        </div>
      </form>
    </div>
  </div>
</div>
{{/if}}

<div class="row justify-content-center">
    <div class="card col-md-6 m-3">

{{> comments watch.comments}}

</div></div>

{{#if loggedIn}}
<script src="/js/comment.js"></script>
<script src="/js/uplike.js"></script>
<script src="/js/deleteWatch.js"></script>
{{/if}}